<div class='p-16'>
  <div class="flex">
    <div class="block w-2/6 p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100">
      <h5 class="mb-4 text-xl font-bold tracking-tight text-gray-900 ">Total Balance</h5>

      <div data-controller="balance-toggle" class= "flex">
        <p data-balance-toggle-target="item" class="font-normal text-gray-700 " >******</p>
        <p data-balance-toggle-target="item" class="font-normal text-gray-700 " hidden>Rs. <%=current_user.wallet.amount%></p>
        <a data-action="balance-toggle#toggleTargets" class="ml-3 fa-regular fa-eye"></a>
      </div>

    </div>
    <div class="block w-2/6 p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 ">
      <h5 class="mb-4 text-xl font-bold tracking-tight text-gray-900 ">Incoming Transactions</h5>
      <p class="font-normal text-gray-700 "><%=funds_recieved_count(current_user.id)%></p>
    </div>
    <div class="block w-2/6 p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 ">
      <h5 class="mb-4 text-xl font-bold tracking-tight text-gray-900 ">Outgoing Transactions</h5>
      <p class="font-normal text-gray-700 "><%=funds_sent_count(current_user.id)%></p>
    </div>
  </div>
  <div class="block my-8 w-auto p-6 bg-white border border-gray-200 rounded-lg shadow-md ">
    <h5 class="mb-4 text-xl font-bold tracking-tight text-gray-900 ">User Information</h5>
    <div class="flex justify-between my-6">
      <div class="block w-2/6 p-6 bg-white border border-gray-200 rounded-lg shadow-md  ">
        <p class="text-sm font-bold text-gray-900 mb-2">
          Name: <span class="font-normal text-gray-700 "><%=current_user.name.humanize%></span>
        </p>
        <p class="text-sm font-bold text-gray-900 mb-2 ">
          Email: <span class="font-normal text-gray-700 "><%=current_user.email.humanize%></span>
        </p>
        <p class="text-sm font-bold text-gray-900 mb-2">
          Gender: <span class="font-normal text-gray-700 "><%=current_user.gender.humanize%></span>
        </p>
        <%= link_to "Click to see more details", user_path(current_user) , class: 'text-primary w-full mb-9 hover:text-rose-400' %>
      </div>
      <div class="block w-7/12 p-6 bg-white border border-gray-200 rounded-lg shadow-md  ">
        <h5 class="mb-4 text-xl font-bold tracking-tight text-gray-900 ">Added Payee details</h5>
        <ul class="max-w-md mb-4 space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
          <% payee_list(current_user.id).each do |friend|%>
            <li>
              <%=friend.nickname%>
            </li>
          <%end%>
        </ul>
        <%= link_to "Click to see more details", friendships_path, class: 'text-primary w-full mb-9 hover:text-rose-400' %>
      </div>
    </div>
  </div>
</div>
