<div class="flex justify-center mt-5 h-5/6">
  <div class=" space-y-8 w-11/12 p-6 bg-white border border-gray-200 rounded-lg shadow-lg">
    <h5 class="text-4xl text-center font-medium text-black">Edit User</h5>
    <div class="flex justify-center">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="space-y-9 my-16 max-w-xl ">
          <div class= "flex justify-around">
            <div class= "mr-10">
              <%= f.label :email, class:'block mb-2 text-sm font-medium text-black'%>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "name@email.com", class:
          'bg-gray-300 border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500
          focus:border-blue-500 block w-full p-2.5', disabled: true %>
            </div>
            <div>
              <%= f.label :name, class:'block mb-2 text-sm font-medium text-black'%>
              <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "name", class:
          'bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500
          focus:border-blue-500 block w-full p-2.5' %>
            </div>
          </div>
          <div class= "flex justify-around">
            <div class= "mr-10">
              <%= f.label class:'block mb-2 text-sm font-medium text-black' do%>
                Password <span class="text-xs">(leave blank if dont want to change)</span>
              <%end%>
              <%= f.password_field :password, autofocus: true, autocomplete: "enter password", placeholder: "Enter Password", class: 'bg-gray-50 border border-gray-300 text-black text-sm rounded-lg
          focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' %>
            </div>
            <div>
              <%= f.label :password_confirmation, class:'block mb-2 text-sm font-medium text-black'%>
              <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "re-enter password", placeholder: "Re-Enter Password", class: 'bg-gray-50 border border-gray-300 text-black text-sm rounded-lg
          focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' %>
            </div>
          </div>
          <div class= "flex justify-around">
            <div class= "mr-10">
              <%= f.label :cnic, class:'block mb-2 text-sm font-medium text-black'%>
              <%= f.number_field :cnic, autofocus: true, placeholder: "CNIC without dashes", class:
          'bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500
          focus:border-blue-500 block w-full p-2.5' %>
            </div>
            <div>
              <%= f.label :gender, class:'block mb-2 text-sm font-medium text-black'%>
              <%= f.select :gender, User.genders.keys.map{ |key| [key.humanize, key] }, {}, { class: "w-60"}%>
            </div>
          </div>
          <div class= "flex justify-around">
            <div class= "mr-10">
              <%= f.label :contact_number, class:'block mb-2 text-sm font-medium text-black'%>
              <%= f.text_field :contact_no, autofocus: true, placeholder: "03xxxxxxxxx (without dashes)", class:
          'bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500
          focus:border-blue-500 block w-full p-2.5' %>
            </div>
            <div>
              <%= f.label :current_password, class:'block mb-2 text-sm font-medium text-black'%>
              <%= f.password_field :current_password, autofocus: true, autocomplete: "enter current password", placeholder: "Enter Current Password", class: 'bg-gray-50 border border-gray-300 text-black text-sm rounded-lg
          focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' %>
            </div>
          </div>
          <div>
            <%= f.label :address, class:'block mb-2 text-sm font-medium text-black'%>
            <%= f.text_field :address, autofocus: true, placeholder: "House No., Street, City, Country.", class:
          'bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500
            focus:border-blue-500 block w-full p-2.5' %>
          </div>
          <%= f.submit "Update", class: "btn-primary w-full" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
