<%= form_with(model: fund_transaction, class: "contents") do |form| %>
  <% if fund_transaction.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(fund_transaction.errors.count, "error") %> prohibited this fund_transaction from being saved:</h2>
      <ul>
        <% fund_transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-10">
    <%= form.hidden_field :payer_id, value: current_user.id %>
  </div>
  <div class="my-8">
    <%= form.label :send_to, class: "font-semibold" %>
    <%if fund_transaction.payee_id.present? %>
      <%= form.text_field :payee_info, class: "block shadow bg-gray-300 rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", value: user_email(fund_transaction.payee_id) , disabled: true%>
      <%= form.hidden_field :payee_info, value: user_email(fund_transaction.payee_id) %>
    <%else%>
      <%= form.text_field :payee_info, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
    <%end%>
  </div>
  <div class="my-8">
    <%= form.label :purpose_of_payment_id, class: "font-semibold"  %>
    <%= form.select :purpose_of_payment_id, PurposeOfPayment.all.map{ |key| [key.purpose.humanize, key.id] }, {prompt: "Choose Purpose of Payment"}, { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"}%>
  </div>
  <div class="my-8">
    <%= form.label :amount, class: "font-semibold"  %>
    <%= form.number_field :amount, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
  </div>
  <div class="flex justify-center">
    <%= form.submit class: "color-primary rounded-lg py-3 px-5 text-white inline-block font-medium cursor-pointer", required: true %>
  </div>
<% end %>
