<%= form_with(model: friendship, class: "contents") do |form| %>
  <% if friendship.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(friendship.errors.count, "error") %> prohibited this friendship from being saved:</h2>
      <ul>
        <% friendship.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :user_id %>
  <div class="my-5">
    <%if !form.object.new_record? %>
      <%= form.label :payee %>
      <%= form.text_field :payee_info, class: "block shadow bg-gray-200  rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", disabled: true, value: User.find(friendship.friend_id).email %>
    <% else %>
      <%= form.label :payee_email_or_contact_no %>
      <%= form.text_field :payee_info, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    <%end%>
  </div>
  <div class="my-5">
    <%= form.label :nickname %>
    <%= form.text_field :nickname, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="inline">
    <%= form.submit ( form.object.new_record? ? "Create Payee" : "Update Payee"), class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
